.normal-input {
    padding: 10px;
    background-color: var(--main-color);
    border: var(--border-color) solid 2px;
    border-radius: 15px;
    color: var(--primary-text-color);
    font-size: 16px;
}