.auth-page {
    width: 100%;
    color: var(--primary-text-color);
}

.auth-form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.auth-form > label {
    margin-bottom: 5px;
}

.auth-form > input {
    margin-bottom: 20px;
}

.auth-form > input[type='submit'] {
    width: 100px;
    height: 50px;
    margin: 10px auto 0;
}

.sign-link {
    width: 100%;
    text-align: center;
}

.sign-link > * {
    color: var(--primary-text-color);
}

.sign-link > *:hover {
    color: var(--accent-color);
}