.auth-page {
    width: 100%;
    color: var(--primary-text-color);
}

.auth-page__form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.auth-page__form-label {
    margin-bottom: 10px;
}

.auth-page__form-input {
    margin-bottom: 20px;
}

.auth-page__form-input-submit {
    margin: 10px auto 0;
}

.auth-page__sign-suggestion {
    width: 100%;
    text-align: center;
}

.auth-page__sign-link {
    color: var(--primary-text-color);
}

.auth-page__sign-link:hover {
    color: var(--accent-color);
}
