.main-footer {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: var(--border-color) solid 1px;
}

.author-info {
    width: 237px;
    color: var(--primary-text-color);
}

.author-info > a {
    color: var(--primary-text-color);
}

.author-info > a:hover {
    color: var(--accent-color);
}
