.footer {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: var(--border-color) solid 1px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.footer__author-info {
    width: 239px;
}

.footer__author-info-link {
    color: var(--primary-text-color);
}

.footer__author-info-link:hover {
    color: var(--accent-color);
}
