.update-portfolio {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.update-portfolio__name-label {
    color: var(--primary-text-color);
    margin-bottom: 5px;
}

.update-portfolio__submit-button {
    margin: 20px auto 0;  
}