.menu {
    &__content {
        transition: all 0.5s linear;
        background-color: var(--secondary-color);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        margin-left: -200px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        overflow: hidden;
    }

    // &__toggle-icon {
    //     display: none;
    // }
    
    &__toggle {
        display: none;
    
        &:checked ~ .menu__content {
            transition: all 0.5s linear;
            width: 200px;
            margin-left: 0;
            border-right: var(--border-color) solid 1px;
        }
    }
    
    &__header {
        height: 60px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
    }
    
    &__close-icon {
        width: 25px;
        margin-right: 10px;
        margin-left: auto;
    }
    
    &__items {
        height: 100%;
        overflow-y: scroll;
        padding: 10px;
    }
    
    &__item {
        align-self: start;
        margin-bottom: 5px;
    }

    @media (max-width: 900px) {
        &__toggle-icon {
            display: block;
        }
    }
}
