.home-page {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.home-page__description-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 450px;
}

.home-page__title {
    font-size: 4rem;
    line-height: 4.4rem;
    font-weight: 900;
}

.home-page__description {
    color: var(--secondary-text-color);
    font-size: 1.1rem;
    max-width: 410px;
}

.home-page__sign-in-link {
    width: 160px;
    text-decoration: none;
}

.home-page__image-section {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page__assets-home-image {
    height: 300px;
    object-fit: cover;
}