@use '@/assets//styles/mixins.scss' as *;

.home-page {
    height: 100%;
    @include centered-flex;
    gap: 40px;

    &__description-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        min-width: 400px;
        max-width: 500px;
    }

    &__title {
        font-size: 4rem;
        line-height: 4.4rem;
        font-weight: 900;
    }

    &__description {
        color: var(--secondary-text-color);
        font-size: 1.1rem;
    }

    &__sign-in-link {
        width: 160px;
        text-decoration: none;
    }

    &__image-section {
        padding: 10px;
        @include centered-flex;
    }

    &__assets-home-image {
        height: auto;
        width: 350px;
    }

    @media (max-width: 900px) {
        &__sign-in-link {
            align-self: center;
        }

        &__image-section {
            display: none;
        }

        &__description-section {
            max-width: 600px;
        }
    }

    @media (max-width: 600px) {
        &__title {
            font-size: 3rem;
            line-height: 3.4rem;
            font-weight: 900;
        }

        &__description-section {
            min-width: unset;
        }
    }
}
