.promt {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
}

.promt__topic {
    margin-bottom: 20px;
}

.promt__text {
    margin-bottom: 20px;
}

.promt__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
