.main-header {
    flex: 0 0 auto;
    padding: 0 25px;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: var(--border-color) solid 1px;
}

.icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.menu {
    background-color: var(--main-color);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 0;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.xmark {
    align-self: end;
    margin-right: 10px;
}

.menu-item {
    cursor: pointer;
    align-self: start;
    text-decoration: none;
    height: 40px;
    width: 270px;
    padding: 10px;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-item:hover {
    color: var(--accent-color);
}
