.portfolios-selection {
    top: 20px;
    position: sticky;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
}

.portfolios-selection__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.portfolios-selection__items {
    padding-right: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.portfolios-selection__item {
    cursor: pointer;
}

.portfolios-selection__item:hover {
    background-color: var(--hover-color);
}

.create-portfolio-button {
    align-self: center;
}