.icon-button {
    background-color: transparent;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
}

.icon-button > *:first-child {
    width: 20px;
    height: 20px;
}

.icon-btn-label {
    margin-left: 10px;
    font-size: 16px;
    color: var(--primary-text-color);
}

.icon-button:hover {
    background-color: var(--hover-color);
}
