.icon-button {
    background-color: transparent;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
}

.icon-button:hover {
    background-color: var(--hover-color);
}

.icon-button__icon {
    width: 20px;
    height: 20px;
}
