.transaction-details__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaction-details__item:not(:last-child) {
    margin-bottom: 30px;
}

.transaction-details__item-feature {
    color: var(--secondary-text-color);
}
