.portfolios-page {
    width: 100%;
    max-width: 2000px;
    display: flex;
    color: var(--primary-text-color);
    gap: 50px;
}

.portfolios-selection {
    top: 20px;
    position: sticky;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolios-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.portfolios {
    padding: 0;
    margin: 0;
    padding-right: 15px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.portfolios > * {
    height: 100%;
}

.portfolio-info {
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
