.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.stats__item {
    margin-bottom: 10px;
}

.stats__add-transaction-button {
    font-weight: bold;
}
