:root {
    --main-color: rgb(33, 42, 49);
    --secondary-color: #2e3944;
    --accent-color: #124e66;

    --primary-text-color: #edf2f4;
    --secondary-text-color: #8d99ae;

    --hover-color: rgba(255, 255, 255, 0.1);
    --border-color: #C5C6C7;

    --button-primary-hover-color: rgba(18, 78, 102, 0.75);
    --button-primary-active-color: rgba(18, 78, 102, 0.5);
    --button-secondary-hover-color: rgba(33, 42, 49, 0.75);
    --button-secondary-active-color: rgba(33, 42, 49, 0.5);
}
