.portfolio-preview {
    display: flex;
    align-items: center;
}

.portfolio-preview__content {
    color: var(--secondary-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.portfolio-preview__content:hover {
    background-color: var(--hover-color);
}

.portfolio-preview__list-actions {
    position: relative;
}

.portfolio-preview__list-actions-content {
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 2;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--primary-text-color);
}

.portfolio-preview__action {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}

.portfolio-preview__action:hover {
    background-color: var(--hover-color);
}
